<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <base href="/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
  <title>新闻发布系统</title>
<link rel="stylesheet" href="css/news.css">
<link rel="stylesheet" href="css/admin.css">
</head>
<body>
<div th:replace="admin_header::header"></div>
<div class="admin">
  <div class="panel-head"><strong><span class="icon-key"></span>修改管理员密码</strong></div>
  <div class="body-content">
    <div class="form-x">
      <div class="form-group">
        <div class="label">
          <label>管理员帐号：</label>
        </div>
        <div class="field">
          <label style="line-height:33px;">
           <span th:text="${session.user.uName}"></span>
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="mpass">原始密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="mpass" name="mpass" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码" />
          <span class="erro_tip erro_position"></span>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="newpass">新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="newpass" name="newpass" size="50" placeholder="请输入新密码" data-validate="required:请输入新密码,length#>=5:新密码不能小于5位" />
          <span class="erro_position">    *限制是4-10的数字或者字母 &nbsp;  <span></span></span>
        </div>
      </div>

      <div class="form-group">
          <div class="label">
          <label for="renewpass">确认新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50"  id="renewpass" name="renewpass" size="50" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,repeat#newpass:两次输入的密码不一致" />
          <span class="erro_tip erro_position"></span>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
        <button class="button bg-main icon-check-square-o submit" type="submit"> 提交</button>
          <span class="erro_tip" style="display:inline-block; margin-left:10px; font-size: 12px"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/new1.js"></script>
<script src="js/wangEditor.min.js"></script>
<script th:inline="javascript">
  $(function(){
    /*<![CDATA[*/
      var pass = /*[[${session.user.uPass}]]*/;
    /*]]>*/
      $("#mpass").on("blur",function(){

          if($(this).val()!= pass ){
              $(this).siblings(".erro_tip").html("请输入正确的密码")
          }else{
              $(this).siblings(".erro_tip").html("");
          }
      });
      var reg = /^\w{4,10}$/;
      $("#newpass").on("blur",function(){
          if($(this).val() == pass){
              $(this).siblings(".erro_position").addClass("erro_tip").find("span").html("密码与原始密码重复");
          }else{
              $(this).siblings(".erro_position").removeClass("erro_tip").find("span").html("");
          }
          if(!reg.test($(this).val())){
              $(this).siblings(".erro_position").addClass("erro_tip")
          }else{
              $(this).siblings(".erro_position").removeClass("erro_tip")
          }
      });
      $("#renewpass").on("blur",function(){
          if($(this).val()!= $("#newpass").val()){
              $(this).siblings(".erro_tip").html("密码不一致");
          }else{
              $(this).siblings(".erro_tip").html("");
          }
      });
      $(".submit").on("click",function(){
          $(this).siblings(".erro_tip").html("");
          $("#mpass").trigger("blur");
          $("#newpass").trigger("blur");
          $("#renewpass").trigger("blur");
          if($("#mpass").siblings(".erro_tip").html()==""&&!($("#newpass").siblings(".erro_position").hasClass("erro_tip"))
              &&$("#renewpass").siblings(".erro_tip").html()==""){
              var pass = $("#newpass").val();
              $.ajax("admin/changePass",{
                  type:"POST",
                  data:{
                      pass:pass
                  },
                  success:function (data) {
                     if(data == "success"){
                         location.href = "admin/adminTip?path=admin/index";
                     }else{
                         $(this).siblings(".erro_tip").html("修改失败");
                     }
                  },
                  dataType:"text"

              })
          }else{
            $(this).siblings(".erro_tip").html("请按正确格式输入");
          }
      })
  })
</script>
</body>
</html>